#!/usr/bin/env bash


# Add `~/bin` to the `$PATH`
export PATH="$HOME/bin:$PATH";

export PATH="/Users/ericschanet/.pyenv:$PATH"
eval "$(pyenv init -)"
#setupATLAS
export ATLAS_LOCAL_ROOT_BASE=/cvmfs/atlas.cern.ch/repo/ATLASLocalRootBase

#setup scripts
export SETUPSCRIPTS=/project/etp5/eschanet/scripts/setupScripts

#Bash slide creator scripts
export PATH=$PATH:/project/etp5/eschanet/scripts/bash
export PATH=$PATH:/project/etp5/eschanet/scripts/python

#macports
export PATH=/opt/local/bin:/opt/local/sbin:$PATH

#tutorial jan18
export ALRB_TutorialData=/afs/cern.ch/atlas/project/PAT/tutorial/cern-jan2018
export RUCIO_ACCOUNT=eschanet
#PythonPath
export PYTHONPATH="/project/etp5/eschanet/scripts:${PYTHONPATH}"
export PYTHONPATH="/project/etp5/eschanet/packages:${PYTHONPATH}"
export PYTHONPATH="/project/etp5/eschanet/packages/meme:${PYTHONPATH}"
export PYTHONPATH="/project/etp5/eschanet/packages/memoizePickle:${PYTHONPATH}"¬
export PYTHONPATH="/project/etp5/eschanet/scripts/gupf:${PYTHONPATH}"¬
export PYTHONPATH="/project/etp5/eschanet/scripts/python:${PYTHONPATH}"¬
export PYTHONPATH="/project/etp5/eschanet/scripts/MPF/pythonpath:${PYTHONPATH}"
export PYTHONPATH="/usr/local/lib/python2.7/site-packages:${PYTHONPATH}"

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

#most frequent working directories
export E4="/project/etp4/eschanet/1L/"
export E5="/project/etp5/eschanet/"
