#!/usr/bin/env bash


# Add `~/bin` to the `$PATH`
export PATH="$HOME/bin:$PATH";

export PATH="/Users/ericschanet/.pyenv:$PATH"
eval "$(pyenv init -)"
#setupATLAS
export ATLAS_LOCAL_ROOT_BASE=/cvmfs/atlas.cern.ch/repo/ATLASLocalRootBase

#setup scripts
export SETUPSCRIPTS=~/ma/scripts/setupScripts

#Bash slide creator scripts
export PATH=~/ma/packages/pandamonium:$PATH
export PATH=~/ma/packages/slurmy:$PATH
export PATH=$PATH:~/ma/scripts/bash
export PATH=$PATH:~/ma/scripts/python
#export PATH=/project/etp5/eschanet/packages/miniconda3/bin:$PATH
export PATH=/home/e/Eric.Schanet/ma/packages/ahoi/scripts:$PATH
export PATH=/home/e/Eric.Schanet/ma/packages/pfPlotter:$PATH
export PATH=/home/e/Eric.Schanet/ma/packages/machete/python:$PATH
export PATH=$PATH:~/ma/packages/openshift
export PATH=/home/e/Eric.Schanet/ma/packages/cutflows:$PATH
export PATH=/home/e/Eric.Schanet/ma/packages/yieldstables:$PATH

#macports
export PATH=/opt/local/bin:/opt/local/sbin:$PATH

#tutorial jan18
export ALRB_TutorialData=/afs/cern.ch/atlas/project/PAT/tutorial/cern-jan2018

#rucio account
export RUCIO_ACCOUNT=eschanet

#PythonPath
export PYTHONPATH=/home/e/Eric.Schanet/ma/scripts/python:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/packages:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/packages/meme:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/packages/memoizePickle:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/scripts/gupf:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/scripts/python:$PYTHONPATH
export PYTHONPATH=/usr/local/lib/python2.7/site-packages:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/packages/MPF/pythonpath:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/studies/ml/KerasROOTClassification:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/packages/machete/python:$PYTHONPATH
export PYTHONPATH=/home/e/Eric.Schanet/ma/packages/ahoi/python:$PYTHONPATH
export PYTHONPATH=/project/etp5/eschanet/work/qualitask/panda-server/pandaserver:$PYTHONPATH
export PYTHONPATH=/project/etp5/eschanet/work/qualitask/panda-common/pandacommon:$PYTHONPATH¬
#export PYTHONPATH=/home/e/Eric.Schanet/ma/packages/cutflows:$PYTHONPATH

#ake vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

#most frequent working directories
export E4="/project/etp4/eschanet/1L/"
export E5="/project/etp5/eschanet/"

export _Z_CMD="f"
